.home-hero {
    display: flex;
    position: relative;
    height: 80vh;
    font-size: 1.25em;
    background-image: url(https://www.earthtoys.net/cdn/shop/files/NaturalWoodenCar2_1024x1024.webp?v=1683105655);
    border-radius: 0px 0px 25px 25px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
   

h1 {
    font-size: 1.2em;
    margin: 1.2em;
    
}




}

