
.app-header{
    background-color: var(--clr1);
    color: var(--gray3);
    padding-block: 1em;
    border-radius: 25px 25px 0px 0px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-inline: 2em;
}

.app-nav {
    display: flex;
    gap: 15px;
    align-items: center;
}